<form method="post">
    {{ form_start(loginForm) }}
    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.password) }}

    <button type="submit">Login</button>
    {{ form_end(loginForm) }}
</form>