<form method="post">
    {{ form_start(formAddPost)}}
    {{ form_row(formAddPost.title) }}
    {{ form_row(formAddPost.content) }}
    <button type="submit">Créer un post</button>
    {{ form_end(formAddPost)}}
</form>