{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
<h1>Profil</h1>
<form>
    {# Par exemple, dans templates/profile/index.html.twig #}
    <h2>Modifier le profil</h2>
    {{ render(controller('App\\Controller\\UserController::edit')) }}
</form>
</div>
{% endblock %}
